body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    flex: 1 0 100%;
}

.name-container h1 {
    font-size: 3em; /* İsmin büyük görünmesini sağlar */
    margin: 0;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    background: #333;
    color: #fff;
    height: 100%;
    padding-top: 20px;
    overflow-y: auto;
    border-right: 2px solid #444;
}

.intro {
    padding: 10px;
    border-bottom: 2px solid #444;
}

.intro a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.intro .description {
    display: block;
    color: #ddd;
    font-size: 0.9em;
    margin-top: 5px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 10px 0;
    position: relative;
}

.side-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.side-menu ul li a:hover {
    background: #555;
}

.side-menu .description {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background: #444;
    color: #fff;
    padding: 10px;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}

.side-menu ul li:hover .description {
    display: block;
}

main {
    margin-left: 240px; /* Menü genişliğine göre ayarlama */
    padding: 20px;
    width: calc(100% - 240px); /* Menü genişliğine göre ayarlama */
}

section {
    margin-bottom: 40px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: calc(100% - 240px); /* Menü genişliğine göre ayarlama */
    left: 240px; /* Menü genişliğine göre ayarlama */
    bottom: 0;
}
